.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form_header h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.form_header p {
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.3em;
}

.form_body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 100%;
}

.form_group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: .9rem;
    font-weight: 500;
}

.details {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.details * {
    margin: 0;
    padding: 0;
}

.form_control {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    color: #333;
}

.form_control .invalid {
    border: 1px solid #f00;
}

.error {
    color: #f00;
    font-size: .7rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: .3em;
}

.submit_btn {
    width: 100%;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #0052CC;
    color: #fff;
    border: none;
    font-size: .9rem;
    font-weight: 500;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

.submit_btn:hover {
    transform: scale(1.1);
}

.submit_btn:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: rgb(167, 165, 165);
    margin: 0;
    margin-top: 1.5em;
}

.form_footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
    font-size: .8rem;
    font-weight: 500;
}

.form_footer a {
    color: #0052CC;
    text-decoration: none;
}