.footer {
    background-color: #091E42;
    padding: 2.5em 0;
    color: #FAFBFC;
    font-size: 0.9em;
}

.text {
    margin: 0;
}

.social {
    margin: 0.5em 0;
}

.social li {
    text-decoration: none;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .social {
        margin: 2em 0;
    }

    ul {
        justify-content: center;
        padding: 1.5em 0 0 0;
    }
}