@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
* {
  box-sizing: border-box;
}

html {
  font-family: 'Circular Std Book', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

.app {
  width: 100%;
  padding: 1rem;
  background-color: white;
  margin: 3rem auto;
}

