main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    width: 90%;
    text-align: left;
}



.main_text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #091E42;
}

.main_taskList {
    width: 100%;
}

.main_taskList h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #091E42;
    margin-bottom: .1em;
}

.main_tasks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding-top: .5em;
}

.main_task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: fit-content;
    margin-top: .3em;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.task_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.8em;
}

.main_task span {
    background: #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    margin-right: 1.8em;
    min-height: 2.5em;
    min-width: 2.5em;
}

.main_task button {
    cursor: pointer;
    margin: 1.2em;
    padding: .7em;
    font-weight: 500;
}

.begin_btn {
    border: none;
    background: transparent;
    color: #0052CC;

}

.resume_btn {
    border: none;
    border-radius: 4px;

    color: #42526E;
}

@media screen and (max-width: 768px) {
    main {
        font-size: .8rem;
    }

    .main_text h1 {
        font-size: 2rem;
    }

    .main_taskList h3 {
        font-size: 1.2rem;
    }

    .task_content {
        margin-left: 1em;
    }

    .main_tasks {
        padding-top: .4em;
    }

    .main_task {
        width: 100%;
    }
    
}